
body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.destino {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    width: calc(33% - 40px);
    float: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); */
}

.destino img {
    max-height: 200px; 
    width: auto;
    display: block;
    margin-bottom: 10px;
}

.destino span {
    float: right;
    color: red;
}